@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-mention-list-container {
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.ql-mention-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ql-mention-list-item {
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.ql-mention-list-item:last-child {
  border-bottom: none;
}

.ql-mention-list-item.ql-mention-list-item-selected,
.ql-mention-list-item:hover {
  background-color: #f3f3f3;
}

.ql-editor .mention {
  background-color: #e6e6e6;
  color: #333;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
}

.ql-editor .mention span {
  pointer-events: none;
}

.ql-editor {
  min-height: 150px;
}

.ql-toolbar.ql-snow {
  background: #f3f4f8;
}

.react-quill-editor .ql-toolbar.ql-snow {
  border-bottom: 1px solid #ccc;
}

.react-quill-editor.editor-toolbar-bottom .ql-toolbar.ql-snow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  z-index: 10;
}

.react-quill-editor.editor-toolbar-bottom .ql-container.ql-snow {
  border-top: 1px solid #ccc;
  padding-bottom: 42px;
}

.react-quill-editor {
  position: relative;
}

.react-quill-editor .ql-editor {
  padding-bottom: 42px;
}
